<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link rel="shortcut icon" href="/assets/_pic/favicon.png">
<link rel="stylesheet" href="{{ url('css/styles.css') }}">
<title>{{ siteName }}</title>
<meta name="description" content="{{ infos.SEO_snippet }}">
</head>
<body id="projects">
{# mark dev and staging pages #}
  {% set whereIsThis = getenv('WHERE_IS_THIS') %}
  {% if whereIsThis == 'staging' or whereIsThis == 'home' %}
<aside id="where-is-this">{{ whereIsThis }}</aside>
  {% endif %}
<header>
<h1><a href="#" id="about-trigger">{{ currentSite.name }}
<br>{{ infos.claim }}</a></h1>
<p class="phone"><a href="tel:{{ infos.phone|replace({' ': ''}) }}">{{ infos.phone }}</a></p>
<p><a href="mailto:{{ infos.mail }}">contact</a></p>
</header>

{# About Modal #}
<div id="about-modal">
  <span id="about-close">X</span>
  <div id="about-content">
    <p>Mathias Renner is the co-founder and editor of <a class="service-link" href="https://www.service-mag.com" target="_blank">SERVICE</a> magazine. He works across strategy, concept and execution.</p>

    <p>Services:<br>
    Creative Direction<br>
    Creative Strategy<br>
    Brand & Visual Image<br>
    Editorial Design<br>
    Artist and Brand Partnerships<br>
    Photo & Video Production</p>

    <p><a href="mailto:info@mathiasrenner.ch">info[at]mathiasrenner.ch</a><br>
    +41 77 443 83 91</p>
  </div>
</div>

  {% set projects = craft.entries.section('projects') %}
  {% if projects %}
<main class="project-list">
  {% for project in projects %}
  {% set type = project.type %}
  {% set slug = project.slug %}
<article class="project {{ type }} {{ slug }}" data-order="{{ loop.index }}"> {# hier noch type und slug in die class #}
<!-- 
    Die Eintragstypen "einzel-" und "doppelbild" sind gleich strukturiert.
    D.h. im Backend können max. 2 Bilder eingesetzt werden. Im Frontend werden
    aber nur im zweiten Fall zwei Bilder gezeigt. Ein ev. vorhandenes 2. Bild
    im Eintragstyp "einzelbild" wird ignoriert.
  -->
  {% if type == "einzelbild" %}
    {% set image = project.images[0] %}
<img class="project-image" src="{{ image.getUrl() }}" alt="Mathias Renner, {{ image.title }}" draggable="false" ondragstart="return false;" />
  {% elseif type == "doppelbild" %}
    {% for image in project.images %}
<img class="double project-image" src="{{ image.getUrl() }}" alt="Mathias Renner, {{ image.title }}" draggable="false" ondragstart="return false;" />
    {% endfor %}
  {% else %}
    <iframe
      src="https://customer-3ashzqr290v5ktt8.cloudflarestream.com/{{ project.vimeoId }}/iframe?autoplay=true&muted=true&loop=true&controls=false&preload=true"
      style="border:none;width:100%;display:block;"
      allow="autoplay; picture-in-picture"
      disablepictureinpicture
      muted
      autoplay
      loop
    ></iframe>
  {% endif %}
<p class="project-title">{{ project.title}}</p>
</article>
  {% endfor %}
</main>
  {% else %}
<p>There are no projects available at this moment.</p>
  {% endif %}
<footer>
  <p><a href="#projects">back to top</a></p>
  <div class="footer-links">
    <p><a href="#" class="footer-about-trigger">About</a></p>
    <p><a href="mailto:{{ infos.mail }}">Contact</a></p>
    <p><a href="https://www.service-mag.com" target="_blank">Service Magazine</a></p>
    <p class="footer-copy">© 2026 Mathias Renner</p>
  </div>
</footer>
<script src="{{ url('js/element-size.js') }}">
</script>
<script>
// about modal
const trigger = document.getElementById('about-trigger')
const modal = document.getElementById('about-modal')
const close = document.getElementById('about-close')
const content = document.getElementById('about-content')
const header = document.querySelector('header')
const footerTrigger = document.querySelector('.footer-about-trigger')

function openModal() {
  modal.classList.add('open')
  header.classList.add('no-pointer')
  document.body.classList.add('modal-open')
}
function closeModal() {
  modal.classList.remove('open')
  header.classList.remove('no-pointer')
  document.body.classList.remove('modal-open')
}

trigger.addEventListener('click', (e) => {
  e.preventDefault()
  openModal()
})
footerTrigger.addEventListener('click', (e) => {
  e.preventDefault()
  openModal()
})
close.addEventListener('click', () => {
  closeModal()
})
modal.addEventListener('click', (e) => {
  if (!content.contains(e.target)) {
    closeModal()
  }
})

// set size of vimeo
// according to column
// get all articles containing a video
const video_iFrames = document.querySelectorAll('.video iframe')
const arr= [...video_iFrames]
resizeVideos() // do it after loading
addEventListener("resize", (e) => {
resizeVideos() // on every resize
    });
function resizeVideos() {
arr.forEach(iframe => {
const w = iframe.parentElement.offsetWidth
// set dimensions to 16:9
const h = Math.round(w/16*9)
const d = { w, h }
setSize(iframe, d)
      })
    }
</script>
</body>
</html>